<%= "Hello #{current_user.email} " %>
<div class="row">
  <div class="col-xs-12">
    <h1>Thanks to add your comment</h1>
  </div>
</div>

<%= form_tag comments_path, method: :post do %>
  <%= text_area_tag 'comment', nil %> <!-- Manque la colonne, comme ça: comment[content]
  <%= submit_tag 'Save' %>
<% end %>

<ul>
  <%= @comments.each do |comment| %>
  <li><%= comment.content %></li>
</ul>
  <% end %> <!-- Le </ul> est inclu dans la boucle. Erreur d'inatention mais globalement attention à la mise en forme -->
